<section class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">AdFinder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ads">Ads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add">Create Ad</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
            </ul>
            <div class="header__sign-in-up">
                <div class="header__sign-in"><a href="/auth" class="header__link">Sign in</a></div>
                <div class="header__sign-up"><a href="/reg" class="header__link">Sign up</a></div>
            </div>
          </div>
        </div>
      </nav>
</section>

