<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <div class="form">
        <form action="#" method="post" action="/user">
            <div class="form_info">
                <label for="">username
                    <input type="text" name="username">
                </label>
            </div>
            <div class="form-text">
                <label for="">Password
                    <input type="password" name="password">
                </label>
            </div>
            <button class="add" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
